  .btn-outline-secondary {
                color: aqua;
                border-color: #6c757d;
            }



            .paraClass {
                font-size: 3em;
            }

            .secondClass {
                color: red;
            }

            #lastPara {
                text-decoration: underline;
            }

          